.reveal .slide {text-align: left}

#col_left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#col_left_30 {
  left:-8.33%;
  text-align: left;
  float: left;
  width:30%;
  z-index:-10;
}

#col_left_70 {
  left:-8.33%;
  text-align: left;
  float: left;
  width:70%;
  z-index:-10;
}

#col_right {
  left:15%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}

#col_right_70 {
  left:15%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:70%;
}

#footer_65 {
    color: black; background: #E8E8E8;
    position: fixed; top: 100%;
    text-align:center; width:65%;
}

#footer {
    color: black; background: #E8E8E8;
    position: fixed; top: 100%;
    text-align:center; width:100%;
}

#midcenter {
    position: fixed;
    top: 50%;
    left: 15%;
}

#pic-50{
  height:50%;
  width:50%;
}

#shrink{
  max-width: 300px;
  height: auto;
}